@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Inter:wght@400;900&display=swap');

:root {
  --neon-purple: #bc13fe;
  --gold: #D4AF37;
  --dark-bg: #050505;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-bg);
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
html {
  scroll-behavior: smooth;
}